@tailwind base;
@tailwind components;
@tailwind utilities;


.blur-bg {
    backdrop-filter: blur(8px); /* Ajusta el valor de desenfoque según tus preferencias */
    background-color: rgba(0, 0, 0, 0.203); /* Ajusta el color y la opacidad del fondo borroso */
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  }
  